<nav class="navbar navbar-expand-lg navbar-light" id="nav">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <div class="logo-wrap" style="margin-left: auto; margin-right: auto;">
      <a class="nav-link" [routerLink]="['/articles']" id="brand"><strong>NISKIZE</strong></a>
    </div>
    <a [routerLink]="['/posts']" style="color: black;text-decoration: none;"><h2 style="margin-right: 0.3em;">Posts</h2></a>
    <div class="d-flex align-items-center">
      
      <!-- Collapsible wrapper -->
      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img src="https://mdbootstrap.com/img/new/avatars/2.jpg" class="rounded-circle" height="25" alt=""
          loading="lazy" />
      </a>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Authentication</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul style="list-style: none;">
          <li><a href="" [routerLink]="['/register']" data-bs-dismiss="modal" style="text-decoration: none;color: black;" ><i class="fa fa-paper-plane" aria-hidden="true"></i> Register</a></li>
          <li><a href="" [routerLink]="['/login']" data-bs-dismiss="modal" style="text-decoration: none;color: black;" ><i class="fa fa-paper-plane" aria-hidden="true"></i> Login</a></li>
          <li><a href="" [routerLink]="['/login']" (click)="logout()" data-bs-dismiss="modal" style="text-decoration: none;color: black;" ><i class="fa fa-paper-plane" aria-hidden="true"></i> Logout</a></li>
        </ul>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>