.d-block{
  width: 100%;
  height: 25em;
}
#update{
 margin-left: 0%;
  margin-right: 0%;
  border: none;
}

.author{
  float: right;
}

.date{
  float: left;
}

.card-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}